{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Site{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/vathouse_logo.png' %}" alt="VAT House Logo" style="height: 50px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'whisky' %}">Whisky</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'food' %}">Food</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'entertainment' %}">Entertainment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'location' %}">Location</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Default content can go here -->
        {% endblock %}
    </main>
    <footer class="bg-dark text-white text-center py-3">
        <p class="mb-0">&copy; 2024 Vat House. All Rights Reserved.</p>
        <p class="mb-0">Anglesea Street, Temple Bar, Dublin 2//T: 353 1 671 5622//F: 353 1 671 5997//
            E: info@vathouse.ie</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>