{% extends "app1/base.html" %}
{% load static %}
{% block title %}Vat House Entertainment{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center mb-4"><u>Entertainment</u></h2>
    <div class="row">
        <div class="col-md-4">
            <p>The evening is when The Vat House really comes alive with entertainment  
                every night, offering a genuine mixture of traditional music and ballads, 
                and contemporary classics performed live by our numerous resident bands. 
                On Friday and Saturday nights, the tempo rises as our very resident DJ 
                plays the best sounds from the 60’s through to today.  We also welcome 
                local musicians to come and bring along their instruments and you could 
                be lucky enough to witness a spontaneous Irish music session where locals 
                and visitors alike join in the fun.</p>
        </div>
        <div class="col-md-8">
            <h2>Live music hours</h2>
            <p>Sun - Thurs: 6:30 PM - 11:30 PM<br>
                Fri - Sat: 6:30 AM - 12:30 AM<br>
            </p>
        </div>
        <div class="col-md-10">
            <!-- put picture of schedule here -->
        </div>
    </div>
</div>

{% endblock %}