{% extends "app1/base.html" %}
{% load static %}
{% block title %}Vat House Location{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center mb-4"><u>visit us</u></h2>
    <div class="row">
        <div class="col-md-6">
            <h4>Where are we?</h4>
            <p>
                The Vat House is very centrally located near Trinity College and within the World renowned ‘Temple Bar’ area of Dublin.<br>We are next to Blooms Hotel on Anglesea Street, Dublin 2. 
            </p>
            <p>Collins Ave Ext, Whitehall, Dublin, <br>D09 W6Y4</p>
            <p>Email: info@vathouse.com</p>
            <p>Phone: (123) 456-7890</p>
        </div>
        <div class="col-md-6">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.9215905387537!2d-6.264510424572412!3d53.34465977485127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e9cafaadfab%3A0x88fbce198f55cf70!2sVat%20House%20Bar!5e0!3m2!1sen!2sie!4v1723041639936!5m2!1sen!2sie" 
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock %}